<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.css">
</head>

<body>
  <div class="card">
    <div class="image">
     <div class="name">lmao </div>
     <div class="subtitle">INT 1234_56</div>
    </div>
    <!-- <div class="content">
      <div class="content-body">
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat illum excepturi nobis ex provident, quas
            voluptatem vel aperiam dicta quaerat.</p>
        </div>
        <div class="bottom">
          <button>Read more</button>
        </div>
      </div>
    </div> -->
  </div>
</body>

</html>